body{
margin:0;
font-family:Arial;
background:black;
color:white;
text-align:center;
}

header{
padding:100px 20px;
background:#111;
}

section{
padding:60px 20px;
}

footer{
padding:20px;
background:#050505;
}
